{% extends "starter-page.html" %}
{% load static %}

{% block content %}

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid about-img" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content">
              <marquee behavior="" direction="center">WELCOME TO LUXE HORIZON</marquee>

          <p>



LUXE HORIZON is a company that offers first class restaurant and catering services for all occasions and events including birthdays, anniversaries, weddings and cultural events·

We source and distribute Kenyan dry pre-packaged Kenyan food including flour, cooking oils, spices, and tea and send it to your location in any part of the world.
The mission and purpose of Luxe Horizon is to introduce Kenyan Cuisine, kenyan dry food products and crafts to the Netherlands and the rest of the world.
           </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->
     <marquee behavior="" direction="center">WELCOME TO LUXE HORIZON</marquee>


{% endblock %}