{% extends 'starter-page.html' %}
{% load static %}

{% block content %}
	 <!-- Specials Section -->
    <section id="specials" class="specials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Specials</h2>
        <p>Check Our Specials</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">

              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-2">SPECIALS</a>
              </li>

            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="specials-tab-1">
              </div>
              <div class="tab-pane" id="specials-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3 CLASS="text-warning bg-dark">Spaghetti puttanesca</h3>

                    <p>Cook up this classic sauce in one pan, then toss with spaghetti for a simple midweek meal. It's budget-friendly too, making it a great meal for the family </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-3.png' %}" alt="" class="img-fluid"</div>
                </div>
              </div>

                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-3.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="specials-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Rice</h3>
                    <p class="fst-italic">Rice is a staple food, a seed of various grass species, and a common ingredient in many cuisines worldwide, often cooked by steaming or boiling. It comes in various types, including long-grain, medium-grain, and short-grain varieties, and is a primary source of carbohydrates.
</p>

                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-1.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Fruit salad</h3>
                    <p class="fst-italic">Fruit salad is a dish consisting of various kinds of fruit, sometimes served in a liquid, either their juices or a syrup. In different forms, fruit salad can be served as an appetizer or a side as a salad. A fruit salad is sometimes known as a fruit cocktail (often connoting a canned product), or fruit cup (when served in a small container). </p>

                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-5.png' %}" alt="" class="img-fluid">
                  </div>
                    <div class="tab-pane" id="specials-tab-5">
                    <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Spaghetti puttanesca</h3>
                    <p class="fst-italic"><p>Cook up this classic sauce in one pan, then toss with spaghetti for a simple midweek meal.</p>

                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/specials-3.png' %}" alt="" class="img-fluid">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Specials Section -->
{% endblock %}
